*.class
*.pdf
*.docx
*.ipynb_checkpoints
vita_ml_env
parag_K-FOLD.ipynb
*.rar
*.zip
mnist_test.csv
mnist_train.csv
tensorflow_mnist_model_saved.h5
"MACHINE LEARNING/Neural Network/CNN/dataset"
023_Parag Thakur_Fashion_ANN.ipynb
MACHINE LEARNING/50 days ML/Data.csv
MACHINE LEARNING/50 days ML/50_Startups.csv
MACHINE LEARNING/Neural Network/CNN/dataset
MACHINE LEARNING/50 days ML/studentscores.csv
MACHINE LEARNING/50 days ML/Social_Network_Ads.csv
MACHINE LEARNING/Neural Network/TCS LSTM.ipynb.zmdownload
MACHINE LEARNING/Neural Network/TCSPrice.csv
MACHINE LEARNING/Neural Network/glove.6B.50d.txt
